@tailwind base;
@tailwind components;
@tailwind utilities;


/*Animação que vai no SlideUP */
@keyframes slideUpCubiBezier {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .animate-slideUpCubiBezier {
    animation: slideUpCubiBezier 0.8s cubic-bezier(0.34, 1.56, 0.64, 1) forwards;
  }

  /*Animação que vai nos cards de video */
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .video-fade-in {
    animation: fadeIn 1.5s ease-out forwards;
  }
  

/* Css para animação dos botões da NavBar */
  .link-hover-underline::after {
    content: '';
    display: block;
    width: 0;
    height: 2px; /* Altura da linha sublinhada */
    background: #f59e0b; /* Usa a cor atual do texto com 'currentcolor'*/
    transition: width 0.3s ease-in-out; /* Animação suave */
    margin-top: 2px; /* Espaçamento entre o texto e a linha */
  }
  
  .link-hover-underline:hover::after,
  .link-hover-underline:focus::after { /* Certifique-se de incluir :focus para acessibilidade */
    width: 100%;
  }

/* Media query para telas até 768px (um valor comum para dispositivos mobile) */
@media (max-width: 768px) {
  .link-hover-underline:hover::after,
  .link-hover-underline:focus::after {
    /* A largura da linha sublinhada é ajustada para se adequar ao texto também em dispositivos móveis */
    /* Reduz a largura da linha sublinhada para não ocupar o espaço completo do botão */
    width: calc(100% - 425px);
  }
}

  /*Animação do texto na hero sections */
  @keyframes typing {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  .typing-animation {
    display: inline-block;
    animation: typing 0.5s forwards;
    opacity: 0;
    margin-right: 4px; /* Ajuste conforme necessário */
  }
  

  .background-layout{
 background-color: #341811;
  }